$text-color :#00171f;
$primarycolor:#003459;
$inputcolor:#FDFDFD;
$herocontentcolor:#FDFDFD;
$bg-color:#FCEED5;
$buttoncolor:#003459;
$headingcolor:#002A48;
$pricebordercolor: #e1e6eb;
$neutralcolor:#99A2A5;
$cardtextcolor:#667479;
$sectiontextcolor:#000000;
$small-titlecolor:#000;
$burgercolor:#1f2a37;
$inputplaceholdercolor:#9AA6AC;
$secondrycolor:#FCEED5;
$filter-groupcolor:#eef2f6;
$siteheaderbordercolor:#eef1f4;
$statecolor:#00A7E7;
$footerheadingcolor:#FDFDFD;
$searchcolor:#e5e9ee;
$footertextcolor:#667479;
$sortbordercolor: #e6ebf0;
$detailbordercolor:#ebeeef;
$border-topcolor: #eef1f4;
$home-herobgcolor:#FCEED5;
$adoptionBgcolor:#ffb775;
$paragraphcolor:#242b33;
$btns-color:#ccd1d2;
$selectcolor:#344054;
$bordercolor:#FDFDFD;
$btnbgcolor:#003459;
$btnbordercolor:#003459;


